@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

@layer base {
  body {
    @apply font-['Inter_Tight'] text-gray-700;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  
  body::-webkit-scrollbar {
    display: none;
  }

  h1 {
    @apply text-gray-600;
  }
}
